@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    background: #1B1D1F;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #1B1D1F;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}
div{
    padding: 10%;
    margin: 20px;
}

