@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
a {
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 2rem;
  color: #FEF7EE;
}
p{
  color: #6F757C;
}

body {
  overflow:visible;
  background: #111315;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.bgImg{
  position: relative;
  z-index: -1;
}

.container{
  
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: #1B1D1F;
  text-align: center;
  background-image: url('src\\images\\vector.svg');
  background-repeat: no-repeat;

  

}

.textContainer{
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  text-align: center;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  
}
.textContainer > p{
  
}
.btnStyle{
  color: #FEF7EE;
  background: #6F757C;
  border-radius: .4rem;
  max-width: 10rem;
}

body>img{
  z-index: 0;
  max-height: 220px;
  width: 100%;
  border-radius: 0;
}

.coffeesContainer {
  /* container for all coffees + text above */
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;
  min-width: 640px;
  
  color: #cbd5e1; 
  
  /* border: 3px solid brown; */

  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}


.popularLabel {
  position: absolute;
  background: #F6C768;
  color: #111315;
  border-radius: 1rem;
  padding: 1px .7rem 1px .7rem;
  font-size: 0.625rem;
  margin: .5rem;
  font-weight: bold;
}

.popularAndImgContainer {
  
}

.coffeeTextContainer {
  
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  
}



img {
  border-radius: 1rem;
}

.nameLabelGrp {
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:space-between;
  font-size: 0.875;

}

.coffeeNameLabel {
  font: bold;
  color: #FEF7EE;
  
}

.starRatingGrp {
  
  display: flex;
  align-items:center;
  justify-content:space-between;
}
.starRatingGrp > div{
  display: flex;
  align-items:center;
  justify-content:space-between;
}

.priceLabel {
  color: #111315;
  background: #BEE3CC;
  border-radius: 0.3rem;
  padding: 0px .5rem 0px .5rem;
  font-size: 0.75rem;
}

.soldOutLabel {
  
  color: #ED735D;
  
}

.votesSpan {
  color: #6F757C;
  font-size: 0.875rem;
}
